@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html,body {
    min-height: 100%;
}

body {
    background-color: #111;
    color: #fff;

}

.list {
    margin-top: -150px;
}

footer {
    margin-top: 50px;
    text-align: center;
}

.loading {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

